<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css"  >
</head>
<body>
    <html>
        <div id="principal" class="principal"   >
            <button class="btn-default-category" onclick="MostrarDados()" > Mostrar Dados </button>
            <button class="btn-default-category" onclick="LimpaDados()" > Limpa Dados </button>

            <div id="mostra_dados" class="mostra_dados" >
            
            </div>
            </div>

            <footer>
                <label>Desenvolvido por: Eduardo</label>
            </footer>
    </html>
</body>


<script src="../scripts/geral.js"></script>

<script>

window.load = CategoriaLoadPage();

</script>
